* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 40px;
    text-align: center;
}

footer {
    padding: 40px;
    text-align: center;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    border: solid 10px silver;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 70%;
}

.type {
    font-size: 70%;
    background-color: pink;
}

.image {
    border: dotted 1px gray;
}

img {
    width: 100%;
}

.id {
    font-size: 50%;
}

/* スマホ表示 */
@media (max-width: 480px) {
    header {
        padding: 30px;
        font-size: 12px;
    }

    .app {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 60%;
    }

    .name {
        font-size: 50%;
    }

    .type {
        font-size: 50%;
    }

    img {
        width: 100%;
    }
}